# ======================
# Node / JS defaults
# ======================
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
.cache
.next
out
coverage
.DS_Store

# ======================
# Environment configs
# ======================
.env
.env.local
.env.*.local

# ======================
# OS / Editor junk
# ======================
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
.env*.local
